* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {

    width: 100%;
    height: 500px;
    background-color: rgb(248, 248, 248);
    max-width: 500px;
    margin: 20px auto;
    border: 5px solid rgb(12, 12, 12);
    
   

}

.container2 {

    
    position: relative;
    background-color: rgb(32, 163, 163);
    left: 250px;
    bottom: 247px;
    width: 50%;
    height: 490px;
    text-align: center;
    
    
    
}

.botao {

    position: relative;
    top: 60px;
    right: 160px;
    padding: 15px ;
    background-color: chocolate;

}

.iniciar {

    color: azure;
   
}

.face {

    position: relative;
    background-color: rgb(5, 5, 248);
    color: aliceblue;
    padding: 7px;
    border-top-left-radius: 10px;
    top: 100px;
   
    
    

}

.twitter {

    position: relative;
    background-color: rgb(9, 177, 228);
    color: aliceblue;
    padding: 7px;
    border-top-left-radius: 10px;
    top: 200px;
    
}

.email {

    position: relative;
    background-color: rgb(87, 223, 233);
    color: aliceblue;
    padding: 7px;
    border-top-left-radius: 10px;
    top: 300px;
    
}
    

