* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {

    width: 500%;
    height: 200px;
    background-color: blue;
    max-width: 500px;
    margin: 20px auto;

}

@media(max-width:1280px) {
    body{
        background-color: yellow;
    }
}

@media(max-width:600px) {
    body{
        background-color: chartreuse;
    }

    .container {
       width: 100px;
    }
} 

/* .pai {
    width: 400px;
    height: 400px;
}