/* * {                    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    scroll-behavior: smooth;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    list-style: none;
}

body {

    background-color: #ddd;
}

header{
    background: url(./imagens/london.jpg);
    height: 800px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 100% 800px;
    background-position: center;
    position: relative;
}

.navbar{
    background-color: white;
    display: flex;
    padding: 10px 2%;
    justify-content: space-between;
    width: 100%;
    color: orangered;
    font-size: 22px;
}

.travel{
    background-color: white;
    width: 80%;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.travel-options{
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

.icon-travel{
    background-color: black;
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 5px;
}

 .icon-travel:hover {

    background-color: orangered;


}

.text-travel {

    margin: 80px 20px 0px 10px;
    padding: 10px;
    
}

h1 {

    font-weight: normal;
    
}

.itens-travel{

    display: flex;
    height: 30%;
    margin: 0 20px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    
}

.from-to {

    width: 100%;
    
}
 
input {

    width: 100%;
    background-color: transparent;
    border: 1px solid rgb(133, 133, 133);
    height: 40px;
    cursor: pointer;
    padding: 10px ;
 }

 
.div-botao-nav {

    margin: 20px 20px;
   
}

.div-botao-nav > button {

    color: white;
    background-color: rgb(54, 53, 53);
    margin-top: 0;
    margin-left: 0;
    padding: 20px 50px;
    cursor: pointer;
}

.sessao1 {

    background-color: #ddd;
    width: 100%;
    height: 60vh;
    max-width: 2000px;
    /* margin: 20px auto; */
    padding: 0px 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    grid-template-areas:
     
    
    "img-sessao1 img-sessao1 img-sessao2 img-sessao3"
    "img-sessao1 img-sessao1 img-sessao2 img-sessao3"
    
    ;

    

}

.img1-sessao1 {


    grid-area: img-sessao1;

}

.img1 {

    width: 100%;
    height: 100%;
}

.descricao-sessao1 {

  
    color: black;
    margin: 30px 100px 0px 100px;

}

.descricao-sessao2 {

  
    color: black;
    margin: 100px 100px 0px 100px;
    

}

h5 {

    margin-top: 30px;
}

.img1-sessao2 {

    background-color: blue;
    display: flex;
   
}

.info-img1-sessao2 {

    background-color: red;
    

}

.sessao2 {

   
    background-color: #ddd;
    width: 100%;
    height: 60vh;
    max-width: 2000px;
    margin: 0px auto;
    padding: 0px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
   
}

.card-imagens {
  position: relative; 
  width: 100%;
  height: 100%;
  
  
}

.info-img-sessao2 {
  width: 100%; 
  height: 60%;
  
  
  
}

.txt-sessao2 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    color: black;
    padding: 10px;
    margin: 0;
    width: 100%;
    height: 40%;
   
  }
  
  .txt-sessao2 > h1 , p {

    margin: 30px;
  }

  .txt-sessao2 > button {

    margin-left: 50px;
    border: none;
    background-color: transparent;

  }

  .sessao3 {

    background-color: rgb(92, 89, 89);
    width: 90%;
    max-width: 2000px;
    height: 30vh;
    margin: 50px 90px 50px 95px;
    padding: 40px;

  }

  .card-email {

    
    margin: 20px 0x 20px 0px ;
    
  }

  .form-email > p {

    margin: 10px 10px 0 10px;
    color: white;
  }

  .h1-card-email {

    margin: 10px 10px 0 10px;
    color: white;

  }

  .form-email > span > input {

    margin: 0 10px;
    width: 95%;
    background-color: white;
    
  } 

  .form-email > button {

    background-color: black;
    margin: 10px;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
  }

 .pai-footer {


    width: 100%;
    height: 70vh;
    padding: 50px;
    margin: 0;
    padding: 0px 90px;
    display: flex;
    flex-direction: column;
    
   

 }

 .card-footer {

    margin: 10px;
    
 }

 
 .form-footer > p {

    margin: 10px 0px;
 }

 .icone-footer {

    display: flex;
    gap: 50px;
 }

 .txt-form-footer {

   
    padding: 20px 0px 20px 0px;
 }

 .form-footer > input {

    margin: 10px 0px;
    background-color: white;

 }

 .form-footer > button {

    background-color: black;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
 }

 .form-footer > i {

   padding: 15px;
 }

button:hover {

    background-color: orangered;

    }

.final-footer {

    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.info-final-footer {

    height: 10vh;
    display: flex;
    gap: 10px;
    margin: 5px;
}

    
  /* @media(max-width:920px) {

    
  }
   */
  
  
  
  




