* {                    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
   
}

.container {

display: grid;
height: 100vh;
background-color:black;
grid-template-columns: 2fr 8fr;
grid-template-rows:  0.2fr 5fr;
gap: 10PX;
padding: 10px;
grid-template-areas: 
"aside header"  /*linhas e colunas do grid */
"aside main"
"footer footer"; 

}

header {

    grid-area: header;
    background-color:  #121212;
    height: 60px;
    color: white;
}


main {

    grid-area: main;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto auto;
    padding: 30px;
    gap: 15px;
    background-color: #121212;
    color: white;

 

}

.conteudo-main {

    background-color:#202020;
    height: 280px;
    border-radius: 10px; 

}
 .paragrafo-topo {

    grid-area: 1 / 1 / 2 / 8;
   
 }

 .paragrafo-meio {

    grid-area: 3 / 1 / 4 / 8;;
 }

 a {

    color: white;
 }

 a:hover {

    text-decoration: underline;
 }

aside {

    grid-area: aside;
    display: grid;
    background-color: #121212;
    color: white;
    grid-template-rows: 2fr 8fr;
    gap: 10px;
    border-radius: 10px;
    grid-template-areas: 
    
    "inicio-buscar"
    "box"
    ;
    
}

footer {

    grid-area: footer;
    display: grid;
    background:linear-gradient(to left , rgba(11, 176, 241, 0.573), rgb(233, 3, 191));
    height: 60px;
    color: white;
   
}

.inicio-buscar {

    background-color: rgb(31, 140, 234);
    grid-area: inicio-buscar;
    border-radius: 10px;
    display: grid;
    /* padding-left: 30px;
    padding-top: 25px; */
    /* grid-template-rows: auto auto; */
    /* gap: 10px; */
    grid-template-areas:

    "material-symbols-outlined" 
    "material-symbols-outlined"
   
    ;
    
}

.inicio-buscar a {

    color: black;
    grid-area: material-symbols-outlined;
    font-size: 30px;
  
    
   

}

.box {

    background-color: red;
    grid-area: box;
    border-radius: 10px;
}
   
    

