*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 30px auto;
    border: 2px solid black;
    width: 600px;
    height: 500vh;
}

.box{

    position: fixed;
    right: 50px;
    bottom: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: red;
}

.nav{

   position: sticky;
   top: 0px; 
   background-color: blue;
   height: 50px;
}